<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/daniel-m-carvalho/SVLC-Final_Project</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id> <!-- This ID must match the id in your pom.xml's <distributionManagement> section -->
            <username>${env.GITHUB_USERNAME}</username> <!-- Replace with your GitHub username -->
            <password>${env.GITHUB_TOKEN_WITH_PACKAGE_PERMISSIONS}</password> <!-- Replace with your GitHub token -->
        </server>
    </servers>
</settings>